Source: libkkc
Section: libs
Priority: optional
Maintainer: Debian Input Method Team <debian-input-method@lists.debian.org>
Uploaders:
 Mitsuya Shibata <mty.shibata@gmail.com>,
 Osamu Aoki <osamu@debian.org>,
Build-Depends:
 debhelper-compat (= 13),
 dh-sequence-gir,
 gnome-common,
 intltool,
 libgee-0.8-dev,
 libgirepository1.0-dev,
 libglib2.0-dev,
 libjson-glib-dev,
 libmarisa-dev (>> 0.2.5~),
 python3:any,
 python3-marisa,
 valac,
Standards-Version: 4.7.0
Homepage: https://github.com/ueno/libkkc
Vcs-Browser: https://salsa.debian.org/input-method-team/libkkc
Vcs-Git: https://salsa.debian.org/input-method-team/libkkc.git
Description: Japanese Kana Kanji input library
 libkkc provides a converter from Japanese Kana-string to
 Kana-Kanji-mixed-string. It was named after kkc.el in GNU Emacs, a simple Kana
 Kanji converter, while libkkc tries to convert sentences in a bit more complex
 way using N-gram language models.

Package: libkkc-common
Section: utils
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description: ${source:Synopsis} - common data
 ${source:Extended-Description}
 .
 This package provides common data such as typing rules for libkkc.

Package: libkkc-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libkkc2 (= ${binary:Version}),
 gir1.2-kkc-1.0 (= ${binary:Version}),
 ${misc:Depends},
Description: ${source:Synopsis} - development files
 ${source:Extended-Description}
 .
 This package provides the files necessary for compiling programs that
 depend on libkkc.

Package: libkkc-utils
Section: utils
Architecture: any
Multi-Arch: foreign
Depends:
 libkkc-data,
 libkkc2 (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Description: ${source:Synopsis} - testing utility
 ${source:Extended-Description}
 .
 This package provides the testing utility for libkkc.

Package: gir1.2-kkc-1.0
Architecture: any
Multi-Arch: same
Section: introspection
Depends:
 libkkc2 (= ${binary:Version}),
 ${gir:Depends},
 ${misc:Depends},
 ${shlibs:Depends},
Description: GObject introspection data for libkkc
 ${source:Extended-Description}
 .
 This package contains introspection data for libkkc.

Package: libkkc2
Architecture: any
Multi-Arch: same
Depends:
 libkkc-common,
 libkkc-data,
 skkdic,
 ${misc:Depends},
 ${shlibs:Depends},
Recommends:
 skkdic-extra,
Description: Japanese Kana Kanji input library
 ${source:Extended-Description}
 .
 This package provides the shared library for libkkc.
